@model IEnumerable<UnganaConnect.Models.Consultancy_Management.ConsultancyRequest>

@{
    ViewData["Title"] = "Consultancy Requests";
}

<h1>Consultancy Requests</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Request</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedStaff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @if (item.AssignedStaff != null)
                {
                    @Html.DisplayFor(modelItem => item.AssignedStaff.FirstName) @Html.DisplayFor(modelItem => item.AssignedStaff.LastName)
                }
                else
                {
                    <span class="text-muted">Not Assigned</span>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                @if (User.IsInRole("Staff") || User.IsInRole("Admin"))
                {
                    <a asp-action="Assign" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Assign</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
